body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.button {
            position: relative;
            display: inline-block;
            margin: 0;
            margin-right: 50px;
            margin-bottom: 30px;
            float: right;
            padding: 8px 15px;
            font-size: 13px;
            font-weight: bold;
            color: #333;
            text-shadow: 0 1px 0 rgba(255,255,255,0.9);
            white-space: nowrap;
            background-color: #eaeaea;
            background-image: -moz-linear-gradient(#fafafa, #eaeaea);
            background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
            background-image: linear-gradient(#fafafa, #eaeaea);
            background-repeat: repeat-x;
            border-radius: 3px;
            border: 1px solid #ddd;
            border-bottom-color: #c5c5c5;
            box-shadow: 0 1px 3px rgba(0,0,0,.05);
            vertical-align: middle;
            cursor: pointer;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-appearance: none;
        }   
        .button:hover,
        .button:active {
            background-position: 0 -15px;
            border-color: #ccc #ccc #b5b5b5;
        }
        .button:active {
            background-color: #dadada;
            border-color: #b5b5b5;
            background-image: none;
            box-shadow: inset 0 3px 5px rgba(0,0,0,.15);
        }
        .comment{
            margin-bottom:20px;
            margin-right: 40px;
            font-family:"微软雅黑", sans-serif;
            float: right;
        }
        .kalen_container {
            border-top: none;
            padding:16px 0 24px 40px;
            clear: both;
            width: 580px;
            border: 1px solid #dedede;
            margin-top: 10px;
        }
        ol { list-style:none;}
        ol li { display:block; clear:both;}
        ol li label { display:block; margin:0; padding:16px 0 0 0;}
        ol li input.text { width:160px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
        ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
        ol li .send { margin:16px 0 0 0;}