/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 13px Helvetica, Arial, sans-serif;
    background: #F0F0F0;
}


h1, h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
	
}

h3 {
	font-size: 18px;
	font-family: 微软雅黑;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

form {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 2px solid #d7d7d7;
}

	form p {
		display: table;
		margin-bottom: 22px;
		padding: 0 22px;
	}

		form label {
			display: table-cell;
			width: 140px;
			padding-right: 20px;
			text-align: right;
			font-weight: bold;
			vertical-align: top;
			font-family: 微软雅黑;
		}

		
		form textarea[name="message"] {
			width: 600px;
			height: 150px;
			border: 1px solid #d7d7d7;
			-moz-border-radius: 11px;
		   -webkit-border-radius: 11px;
		}
		form textarea[name="name"] {
			width: 600px;
			height: 20px;
			border: 1px solid #d7d7d7;
			-moz-border-radius: 10px;
		   -webkit-border-radius: 4px;
		}

		
		form input[type="submit"] {
			margin-left: 426px;


		}

		form input[type="submit"]:hover {
            background: #d7d7d7;

		}
#commentlist {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 2px solid #d7d7d7;

}

#commentlist article {
	width:700px;
	display: table;
	padding: 21px 0px 21px 130px;
		
	}
	
#commentlist article:nth-child(odd) {
	    width:700px; 
		padding: 21px 0px 21px 130px;
		background: #E3E3E3;
		border: 1px solid #d7d7d7;
		-moz-border-radius: 11px;
		-webkit-border-radius: 11px;
	}
	
#commentlist article header {
		display: table-cell;
		width: 220px;
		padding-right: 22px;
		}
		
#commentlist article header p {
		display: block;
		font-weight: bold;
		color: #000;
			}
#commentlist article header time {
		color: #000;
		font-family: 宋体;
			}
			
#commentlist article header a:hover {
		text-decoration: none;
		}
		
#commentlist article p {
		padding: 0;
		}
		
/*a {
  color: #00B7FF;
}*/


        ol { list-style:none;}
        ol li { display:block; clear:both;}
        ol li label { display:block; margin:0; padding:16px 0 0 0;}
        ol li input.text { width:160px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
        ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
        ol li .send { margin:16px 0 0 0;}