<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kalen.app.ustb_choose_course_system" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!--android:theme="@android:style/Theme.Holo.Light"
    android:theme="@style/AppTheme"
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light"
        android:label="@string/app_name">
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.ClassTableActivity"/>
        <activity android:name=".ui.choose_course.ChooseCourseActivity"/>
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.DeskTopClassTableShortCutActivity" >
            <intent-filter>
                <!-- 自定义的action，通过自定义的action可以应用内调用 -->
                <action android:name="kalen.classtable.intent.action.SHORTCUT" />
                <!-- 必须加上这个，否则无法直接使用自定的action -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.choose_course.DetailActivity"
            android:theme="@android:style/Theme.Dialog"
            android:configChanges="orientation|keyboardHidden"/>

        <service android:name=".service.DownLoadService" />
    </application>

</manifest>